.loading-container {
    width: 100%;
    max-width: 600px;
    height: 30px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    border: 3px solid #333;
}

.loading-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s;
}

h1 {
    text-align: center;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: antiquewhite;
}